/* Global CSS */
:root {
    --bs-body-color: #fff;
    --bs-body-color-rgb: #fff;
    --bs-body-bg: #24353F;
}

main {
    background-color: #24353F;
}

@font-face {
    font-family: "Titillium Web";
    src: url(./../fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

/* Login Section */
h1 {
    color: #17a2b8;
    font-family: "Titillium Web", sans-serif;
    font-size: 40px;
    margin: 0 0 8px;
    font-weight: 500;
    text-align: center;
}

form {
    font-family: "Titillium Web", sans-serif;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.form-control {
    padding: 2px 6px;
    --bs-border-radius: 4px;
}

.form-control:focus {
    box-shadow: 0 0 0 .1rem rgba(23, 162, 184, .25);
}

.form-floating>label {
    padding: 1rem .75rem;
    border: var(--bs-border-width) solid transparent;
}

.btn-outline-info {
    --bs-btn-hover-color: #fff;
}

p a {
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}